.panel.panel-default
  .panel-heading
    %h3.panel-title メインメニュー
  .panel-body
    .row
      .col-md-3
        %ul.list-group
          %li.list-group-item= link_to 'カレンダー', events_path

.panel.panel-default
  .panel-heading
    %h3.panel-title マスタ管理
  .panel-body
    .row
      .col-md-3
        %ul.list-group
          %li.list-group-item= link_to '工程マスタ', kouteimasters_path
          %li.list-group-item= link_to '社員マスタ', shainmasters_path
          %li.list-group-item= link_to '所属マスタ', shozokumasters_path
          %li.list-group-item= link_to '会社マスタ', kaishamasters_path
          %li.list-group-item= link_to '場所マスタ', bashomasters_path
      .col-md-3
        %ul.list-group
          %li.list-group-item= link_to 'JOBマスタ', jobmasters_path
          %li.list-group-item= link_to '所在マスタ', shozais_path
          %li.list-group-item= link_to '役職マスタ', yakushokumasters_path
          %li.list-group-item= link_to 'ジュピター休日', jpt_holiday_msts_path
          %li.list-group-item= link_to '状態マスタ', joutaimasters_path
      .col-md-3
        %ul.list-group
          %li.list-group-item= link_to '機関マスタ', kikanmsts_path
