.modal#basho-new-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
        %h4.modal-title#myModalLabel 場所新規
      .modal-body
        = simple_form_for @basho, url: create_basho_events_path, remote: true do |f|
          = f.input :場所コード
          = f.input :場所名
          = f.input :場所名カナ
          = f.input :SUB
          = f.association :bashokubunmst, label_method: :場所区分名, value_method: :場所区分コード, label:'場所区分', input_html: {style: 'width:100px'}
          -#= f.association :kaishamaster, label_method: :会社名, value_method: :会社コード, label:'会社参照'
          = f.input :会社コード, wrapper: :vertical_input_group do
            = f.input_field :会社コード, class: 'form-control'
            %span.input-group-addon.refer-kaisha
              %span.glyphicon.glyphicon-search{'aria-hidden'=>"true"}
          = f.button :submit, class: 'btn btn-primary'