<%= form_for @joutaimaster, html:{class: 'form-horizontal', role: :form, 'data-model' => 'joutaimaster'} do |f| %>
  <% if @joutaimaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= @joutaimaster.errors.count %> エラーが発生しました:</h2>
      <ul>
      <% @joutaimaster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <div class="spacer"></div>
    
  <div class="form-group">
    <%= f.label :状態コード, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :状態コード, class: 'form-control', maxlength: 10 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :状態名, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :状態名, class: 'form-control', maxlength: 10 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :状態区分, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :状態区分, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :勤怠状態名, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :勤怠状態名, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :マーク, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :マーク, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :色, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :色, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :WEB使用区分, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :WEB使用区分, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :勤怠使用区分, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :勤怠使用区分, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-2">
      <%= f.submit '　登録　', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>