<%= javascript_include_tag 'joutai' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to '状態マスタ', joutaimasters_path %></li>
  <li class="active">編集</li>
</ol>

<%= render 'form'  %>

<%= link_to '詳細', @joutaimaster %> |
<%= link_to '戻る', joutaimasters_path %>
