<%= javascript_include_tag 'joutai' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">状態マスタ</li>
</ol>

<!-- <h1>工程マスタ</h1> -->

<table id="joutaimaster" class="table table-striped table-bordered table-hover" cellspacing="0">

  <thead>
  <tr>
    <th>状態コード</th>
    <th>状態名</th>
    <th>状態区分</th>
    <th>勤怠状態名</th>
    <th>マーク</th>
    <th>色</th>
    <th>WEB使用区分</th>
    <th>勤怠使用区分</th>
  </tr>
  </thead>

  <tbody>
  <% @joutais.each do |joutai| %>
      <tr id="joutai_<%= joutai.id %>">
        <td><%= joutai.状態コード %></td>
        <td><%= joutai.状態名 %></td>
        <td><%= joutai.状態区分 %></td>
        <td><%= joutai.勤怠状態名 %></td>
        <td><%= joutai.マーク %></td>
        <td><%= joutai.色 %></td>
        <td><%= joutai.WEB使用区分 %></td>
        <td><%= joutai.勤怠使用区分 %></td>
      </tr>
  <% end %>
  </tbody>
</table>