<%= form_for(@kintai, html: {class: 'form-horizontal', role: :form} ) do |f| %>
    <% if @kintai.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@kintai.errors.count, "error") %> prohibited this kintai from being saved:</h2>

          <ul>
            <% @kintai.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-5">
        <!--<div class="form-group">-->
          <!--<%# f.label :日付,  class: 'col-md-3 control-label' %>-->
          <!--<div class="col-md-4">-->
            <!--<%# f.text_field :日付, class: 'form-control date-edit' %>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<%# f.label :曜日,  class: 'col-md-3 control-label' %>-->
          <!--<div class="col-md-4">-->
            <!--<%# f.text_field :曜日, class: 'form-control' %>-->
          <!--</div>-->
        <!--</div>-->

        <div class="form-group">
          <%= f.label :勤務タイプ,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :勤務タイプ, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :出勤時刻,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :出勤時刻, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :退社時刻,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :退社時刻, class: 'form-control' %>
          </div>
        </div>



        <div class="form-group">
          <%= f.label :保守携帯回数,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :保守携帯回数, class: 'form-control' %>
          </div>
        </div>


        <div class="form-group">
          <%= f.label :状態1,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field_search :状態1, {}, class_field: 'status1-code' , class_search: 'status1' %>
          </div>
        </div>

        <!--<div class="form-group">-->
          <!--<%# f.label :状態2,  class: 'col-md-3 control-label' %>-->
          <!--<div class="col-md-4">-->
            <!--<%# f.text_field_search :状態2, {}, class_field: 'status2-code', class_search: 'status2' %>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<%# f.label :状態3,  class: 'col-md-3 control-label' %>-->
          <!--<div class="col-md-4">-->
            <!--<%# f.text_field_search :状態3, {}, class_field: 'status3-code', class_search: 'status3' %>-->
          <!--</div>-->
        <!--</div>-->

        <div class="form-group">
          <%= f.label :備考,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :備考, class: 'form-control' %>
          </div>
        </div>

      </div>

      <!------------------------------>
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :実労働時間,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :実労働時間, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :遅刻時間,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :遅刻時間, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :早退時間,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :早退時間, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :普通残業時間,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :普通残業時間, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :深夜残業時間,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :深夜残業時間, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :普通保守時間,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :普通保守時間, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :深夜保守時間,  class: 'col-md-3 control-label' %>
          <div class="col-md-4">
            <%= f.text_field :深夜保守時間, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-3 col-md-offset-2">
            <%= f.submit ' 登 録 ', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <!---------------------->
      <div class="col-md-2">
        <%= render 'kinmu_refer' %>
      </div>

    </div>
<% end %>

<%= render 'share/joutai_modal' %>
