- user = Shainmaster.find(session[:user])
.row
  .col-md-3
    .form-group
      %label.sr-only date
      = f.text_field :日付, class: 'form-control date-search'
      = f.submit :勤怠検索, class: 'btn'
  .col-md-2
    %h4 勤務工数表
  .col-md-2
    %h4 氏名：#{user.氏名}
  .col-md-3
    %h4 担当者番号：#{user.社員番号}
  .col-md-2
    %h4 有給残数：#{user.有給残数}