<%= javascript_include_tag 'kintais' %>
<%= stylesheet_link_tag 'kintais' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li><%= link_to 'カレンダー', events_path %></li>
  <li class="active">勤怠・入力済み</li>
</ol>

<%= form_for @kintai, url: matching_date_kintais_path, html: {class:'form-inline'} do |f|%>
    <%= render 'header', f:f %>

    <table  id="kintai-table" class="table table-striped table-bordered table-hover" cellspacing="0">
      <thead>
      <tr>
        <th rowspan="2">日付</th>
        <th rowspan="2">曜日</th>
        <th rowspan="2">タイプ</th>
        <th rowspan="2">出勤時間</th>
        <th rowspan="2">退社時間</th>

        <th colspan="6">就 業 時 間</th>

        <th rowspan="2">保守携帯</th>
        <th rowspan="2">処理区分</th>
        <th rowspan="2">備考</th>
      </tr>
      <tr>
        <th>実労働時間</th>
        <th>遅刻早退</th>
        <th>普通残業</th>
        <th>深夜残業</th>
        <th>普通保守</th>
        <th>深夜保守</th>
      </tr>
      </thead>

      <tbody>
      <% @kintais.each do |kintai| %>
          <%add_class = 'danger' if kintai.曜日.in?(['0','6'])
            case kintai.曜日
              when '0'
                week_day = '日'
              when '1'
                week_day = '月'
              when '2'
                week_day = '火'
              when '3'
                week_day = '水'
              when '4'
                week_day = '木'
              when '5'
                week_day = '金'
              when '6'
                week_day = '土'

            end
          %>
          <tr id="kintai-<%= kintai.id %>" class="<%= add_class %>">
            <td><%= kintai.日付 %></td>
            <td><%= week_day %></td>
            <td><%= kintai.勤務タイプ %></td>
            <td><%= kintai.出勤時刻.to_s(:time) if kintai.出勤時刻 %></td>
            <td><%= kintai.退社時刻.to_s(:time) if kintai.退社時刻 %></td>
            <td><%= kintai.実労働時間 %></td>
            <td><%= kintai.遅刻時間 %></td>
            <!--<td><%# kintai.早退時間 %></td>-->
            <td><%= kintai.普通残業時間 %></td>
            <td><%= kintai.深夜残業時間 %></td>
            <td><%= kintai.普通保守時間 %></td>
            <td><%= kintai.深夜保守時間 %></td>
            <td><%= kintai.保守携帯回数 %></td>
            <td><%= kintai.joutaimaster.try :name %></td>
            <td><%= kintai.備考 %></td>
          </tr>
      <% end %>
      </tbody>

    </table>

<!--フッター-->
    <div class="row">
      <div class="col-md-2">
        <%= render 'kinmu_refer' %>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <%# button_tag :合計, type: 'button', class: 'btn kintai-sum' %>
        <%= label_tag '合計時間' %>
      </div>
      <div class="col-md-4">
        <table  id="kintai-table" class="table table-striped table-bordered table-hover table-condensed" cellspacing="0">
          <thead>
          <tr>
            <th>実労働</th>
            <th>遅刻早退</th>
            <th>普通残業</th>
            <th>深夜残業</th>
            <th>普通保守</th>
            <th>深夜保守</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td class="sum1"></td>
            <td class="sum2"></td>
            <td class="sum3"></td>
            <td class="sum4"></td>
            <td class="sum5"></td>
            <td class="sum6"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1">
        <%= f.check_box :入力済, { id:'finish-input', checked: true }, '1', '0' %>
        <%= label_tag '承認要求' %>
      </div>
      <div class="col-md-2">
        <p class="finish-message"></p>
      </div>
    </div>
<% end %>

