= simple_form_for(@setsubi) do |f|
  .col-sm-2.col-sm-offset-2
    = f.input :設備コード
    = f.input :設備名
    = f.input :備考
    = f.button :submit, class: 'btn btn-primary'

  / = f.error_notification

  / / .form-inputs
  / /   = f.input :設備コード
  / /   = f.input :設備名
  / /   = f.input :備考

  / / .form-actions
  / /   = f.button :submit




