<%= javascript_include_tag 'kintais' %>
<%= stylesheet_link_tag 'kintais' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li><%= link_to '管理G', kanris_root_path %></li>
  <li class="active">勤怠</li>
</ol>

<%= form_for :kintai, url: kanris_kintais_path, html: {class:'form-inline'}, method: :get do |f|%>
<%= render "kanris/shared/header", f:f %>

<table  id="kintai_table" class="table table-striped table-bordered table-hover" cellspacing="0">
  <thead>
  <tr>
    <th rowspan="2">日付</th>
    <th rowspan="2">社員氏名</th>
    <th rowspan="2">曜日</th>
    <th rowspan="2">タイプ</th>
    <th rowspan="2">出勤時間</th>
    <th rowspan="2" width="7%">退社時間</th>

    <th colspan="6">就 業 時 間</th>

    <th rowspan="2">保守携帯</th>
    <th rowspan="2">処理区分</th>
    <th rowspan="2">備考</th>
    <!--<th rowspan="2"></th>-->
    <!--<th rowspan="2"></th>-->
  </tr>
  <tr>
    <th>実労働時間</th>
    <th>遅刻早退</th>
    <th>普通残業</th>
    <th>深夜残業</th>
    <th>普通保守</th>
    <th>深夜保守</th>
  </tr>
  </thead>

  <tbody>
  <% if  @kintais.nil? || @kintais.empty? %>
    <tr  style="text-align: center;">
      <td colspan="15">データはありません。</td>
    </tr>
  <% else %>
    <% @kintais.each do |kintai| %>
      <% add_class = 'warning' if kintai.曜日.in?(['0','6']) || kintai.try(:holiday) == '1' %>
      <tr id="kintai-<%= kintai.id %>" class="<%= add_class %>">
        <td><%= kintai.日付 %></td>
        <td><%= kintai.shainmaster.title %></td>
        <td><%= kintai.曜日 %></td>
        <td><%= kintai.勤務タイプ %></td>
        <td><%= kintai.出勤時刻.to_s(:time) unless kintai.出勤時刻.blank? %></td>
        <td><%= kintai.退社時刻.to_s(:time) unless kintai.退社時刻.blank? %></td>
        <td><%= kintai.実労働時間 %></td>
        <td><%= kintai.遅刻時間 %></td>
        <!--<td><%# kintai.早退時間 %></td>-->
        <td><%= kintai.普通残業時間 %></td>
        <td><%= kintai.深夜残業時間 %></td>
        <td><%= kintai.普通保守時間 %></td>
        <td><%= kintai.深夜保守時間 %></td>
        <td><%= kintai.保守携帯回数 %></td>
        <td><%= kintai.joutaimaster.try :name %></td>
        <td><%= kintai.備考 %></td>
      </tr>
    <% end %>
    <%= paginate @kintais %>
  <% end %>
  </tbody>
</table>
<% end %>

