<%= javascript_include_tag 'kintais' %>
<%= stylesheet_link_tag 'kintais' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li><%= link_to '管理G', kanris_root_path %></li>
  <li class="active">勤怠</li>
</ol>

<%= form_for :kintai, url: kanris_kintais_path, html: {class:'form-inline'}, method: :get do |f|%>

<%= render "kanris/shared/header", f:f %>
<%= link_to "データをエクスポート" , export_excel_kanris_kintais_path(format: 'xlsx', date: @date) %>
<hr>
<table  id="kintai_table" class="table table-bordered table-hover " cellspacing="0" data-sort-name="name" data-sort-order="desc">
  <thead>
  <tr>
    <th rowspan="2" data-field="id" data-sortable="true">社員番号</th>
    <th rowspan="2">社員氏名</th>
    <th colspan="6">就 業 時 間</th>
    <th rowspan="2">保守携帯</th>
    <th rowspan="2">休暇</th>
    <th rowspan="2">午前半休</th>
    <th rowspan="2">午後半休</th>
    <th rowspan="2"></th>
    <!--<th rowspan="2"></th>-->
    <!--<th rowspan="2"></th>-->
  </tr>
  <tr>
    <th>実労働時間</th>
    <th>遅刻早退</th>
    <th>普通残業</th>
    <th>深夜残業</th>
    <th>普通保守</th>
    <th>深夜保守</th>
  </tr>
  </thead>
  <tbody>
  <% if  @shainmasters.nil? || @shainmasters.empty? %>
    <tr  style="text-align: center;">
      <td colspan="15">データはありません。</td>
    </tr>
  <% else %>
    <% @shainmasters.each do |shainmaster| %>
      <tr>
        <td><%= shainmaster.id %></td>
        <td><%= shainmaster.title %></td>
        <td><%= shainmaster.kintais.get_by_mounth(@date).sum :実労働時間 %></td>
        <td><%= shainmaster.kintais.get_by_mounth(@date).sum :遅刻時間 %></td>
        <td><%= shainmaster.kintais.get_by_mounth(@date).sum :普通残業時間 %></td>
        <td><%= shainmaster.kintais.get_by_mounth(@date).sum :深夜残業時間 %></td>
        <td><%= shainmaster.kintais.get_by_mounth(@date).sum :普通保守時間 %></td>
        <td><%= shainmaster.kintais.get_by_mounth(@date).sum :深夜保守時間 %></td>
        <td><%= shainmaster.kintais.get_by_mounth(@date).sum :保守携帯回数 %></td>
        <td><%= shainmaster.kintais.day_off.count %></td>
        <td><%= shainmaster.kintais.morning_off.count %></td>
        <td><%= shainmaster.kintais.afternoon_off.count %></td>
        <td><%= link_to "詳細", kanris_kintai_path(shainmaster.id, date: @date) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<% end %>


