<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">データをエクスポート</li>
</ol>

<% @index = 0 %>
<table id="export_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>STT</th>
      <th>ダウンロード</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "担当者マスタ", export_csv_users_path(format: :csv) %></td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "Jobマスタ", export_csv_jobmasters_path(format: :csv) %></td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "経費ヘッド", export_csv_keihiheads_path(format: :csv) %></td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "経費ボディ", export_csv_keihibodies_path(format: :csv) %></td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "イベントマスタ", export_csv_events_path(format: :csv) %></td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "ジュピター休日",
        export_csv_jpt_holiday_msts_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "勤怠",
        export_csv_kintais_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "会社マスタ",
        export_csv_kaishamasters_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "伝言",
        export_csv_dengons_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "伝言回答マスタ",
        export_csv_dengonkaitous_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "伝言用件マスタ",
        export_csv_dengonyoukens_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "分類マスタ",
        export_csv_bunruis_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "回覧",
        export_csv_kairans_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "回覧詳細",
        export_csv_kairanshosais_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "回覧用件マスタ",
        export_csv_kairanyokenmsts_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "場所マスタ",
        export_csv_bashomasters_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "場所区分マスタ",
        export_csv_bashokubunmsts_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "工程マスタ",
        export_csv_kouteimasters_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "役職マスタ",
        export_csv_yakushokumasters_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "所在マスタ",
        export_csv_shozais_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "所属マスタ",
        export_csv_shozokumasters_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "承認者マスタ",
        export_csv_shoninshamsts_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "機関マスタ",
        export_csv_kikanmsts_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "状態マスタ",
        export_csv_joutaimasters_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "社員マスタ",
        export_csv_shainmasters_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "通信制御マスタ",
        export_csv_tsushinseigyous_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "駅マスタ",
        export_csv_ekis_path(format: :csv) %>
      </td>
    </tr>
    <tr>
      <td><%= @index+=1 %></td>
      <td><%= link_to "設備マスタ",
        export_csv_setsubis_path(format: :csv) %>
      </td>
    </tr>
  </tbody>
</table>
