= simple_form_for @user do |f|
  .col-md-2.col-md-offset-1
    = f.input :担当者コード
    = f.input :担当者名称
    = f.input :パスワード, as: :password
    = f.input :avatar, as: :file
    = f.input :email, as: :email
    - if session[:user] == ENV['admin_user']
      = f.input :admin, as: :boolean
    = f.button :submit, class: 'btn btn-primary'