= simple_form_for(:user,url: change_pass_users_path) do |f|
  .col-md-3.col-md-offset-1
    = f.input :user_code, label: '社員番号'
    = f.input :old_password, as: :password, label: 'パスワード'
    = f.input :new_password, as: :password, label: '新パスワード'
    = f.input :renew_password, as: :password, label: 'もう一度'
    = f.input :email, as: :email, required: false
    = f.button :submit, class: 'btn btn-primary'
