<%= javascript_include_tag 'user' %>
<ol class="breadcrumb">
  <!--<li><%# link_to 'メニュー', main_path %></li>-->
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">担当者マスタ</li>
</ol>

<!-- <h1>工程マスタ</h1> -->

<table id="user_table" class="table table-striped table-bordered table-hover" cellspacing="0">

  <thead>
  <tr>
    <th>担当者コード</th>
    <th>担当者名称</th>
    <th>パスワード</th>
    <th>アドミン</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr id="user_<%= user.id %>">
        <td><%= user.担当者コード %></td>
        <td><%= user.担当者名称 %></td>
        <% if session[:user] == ENV['admin_user'] || current_user.admin?  %>
          <td><%= user.パスワード %></td>
        <%else %>
          <td>***</td>
        <%end %>
        <td><%= user.admin %></td>
        <td><%= link_to '詳細', user %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, remote: true, method: :delete, data: { confirm: '削除で宜しですか。' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to '新規', new_user_path %>