<p>
  <strong>担当者コード:</strong>
  <%= @user.担当者コード %>
</p>

<p>
  <strong>担当者名称:</strong>
  <%= @user.担当者名称 %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.パスワード %>
</p>

<p>
  <strong>アドミン:</strong>
  <%= @user.admin %>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '戻る', users_path %>
