<%= javascript_include_tag 'basho' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">場所マスタ</li>
</ol>

<!-- <h1>工程マスタ</h1> -->

<table id="bashomaster" class="table table-striped table-bordered table-hover" cellspacing="0">

  <thead>
  <tr>
    <th>社員番号</th>
    <th>場所コード</th>
    <th>場所名カナ</th>
    <th>SUB</th>
    <th>場所区分</th>
    <th>会社コード</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @bashomasters.each do |basho| %>
      <tr id="bashomaster_<%= basho.id %>">
        <td><%= basho.社員番号 %></td>
        <td><%= basho.場所コード %></td>
        <td><%= basho.場所名カナ %></td>
        <td><%= basho.SUB %></td>
        <td><%= basho.場所区分 %></td>
        <td><%= basho.会社コード %></td>
        <td><%= link_to '詳細', basho %></td>
        <td><%= link_to '編集', edit_bashomaster_path(basho) %></td>
        <td><%= link_to '削除', basho, remote: true, method: :delete, data: { confirm: '削除で宜しですか。' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to '新規', new_bashomaster_path %>