<%= javascript_include_tag 'shain' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to '所属マスタ', shozokumasters_path %></li>
  <li class="active">編集</li>
</ol>

<%= render 'form'  %>

<%= link_to '詳細', @shozokumaster %> |
<%= link_to '戻る', shozokumasters_path %>
