<%= javascript_include_tag 'shozoku' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">所属マスタ</li>
</ol>

<!-- <h1>工程マスタ</h1> -->

<table id="shozokumaster" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">

  <thead>
  <tr>
    <th>所属コード</th>
    <th>所属名</th>
    <th colspan="2">アクション</th>
  </tr>
  </thead>

  <tbody>
  <% @shozokumasters.each do |shozoku| %>
      <tr id="shozokumaster_<%= shozoku.id %>">
      <td><%= shozoku.所属コード %></td>
        <td><%= shozoku.所属名 %></td>
        <td><%= link_to '編集', edit_shozokumaster_path(shozoku) if
          current_user.admin? %></td>
        <td><%= link_to '削除', shozoku, method: :delete, data: {confirm:
          '削除で宜しですか。'} if current_user.admin? %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to '新規', new_shozokumaster_path if current_user.admin? %>

<% if current_user.admin? %>
  <h4>CSVでのデータをインポート!</h4>
  <%= form_tag import_shozokumasters_path, class:'form-inline',
    multipart: true do %>
    <div class="form-group">
      <%= label_tag 'selectcsv', nil, class: 'sr-only' %>
      <%= file_field_tag :file , class: 'btn btn-default',
        accept: 'text/csv' %>
    </div>
    <div class="form-group">
      <%= label_tag 'importcsv', nil, class: 'sr-only' %>
      <%= submit_tag "Import CSV" , class: 'btn btn-default' %>
    </div>
  <% end %>
<% end %>
