<%= form_for @event , html:{class: 'form-horizontal', role: :form, 'data-model' => 'event'} do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
          <h2><%= @event.errors.count %> エラーが発生しました:</h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    
    <!-- Error for check params-->
    <% if @errors.any? %>
        <div id="error_explanation">
          <h2>パラムエラーが発生しました：</h2>
          <ul>
            <% @errors.each do |msg| %>
                <li><%= msg %></li>
            <% end  %>
          </ul>
        </div>
    <% end %>

    <div class="spacer"></div>


    <div class="form-group">
      <%= f.label :社員番号, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :社員番号, class: 'form-control', value: session['user_id'] %>
      </div>
      
      <% if mode != 'new' %>
          <% if @event.計上 == '済'%>
            <%= f.label :計上, class: 'col-sm-2 control-label' %>
            <!--<div class="col-sm-2">-->
              <%# f.text_field :計上, class: 'form-control' %>
              <span class="col-sm-1 control-label"><%= @event.計上 %>　　　　</span>
            <!--</div>-->
              <% end %>
      <% end  %>
      
      <span id="shainbango" class="help-block"></span>
    </div>    
    
    <div class="form-group">
      <%= f.label :開始, class: 'col-sm-2 control-label' %>
      <div class="col-md-2">
          <%= f.text_field :開始, class: 'form-control' %>
      </div>
      
      <span id="start_date" class="help-block"></span>
    </div>

    <div class="form-group">
      <%= f.label :終了, class: 'col-sm-2 control-label' %>
      
      <div class="col-md-2">
        <%= f.text_field :終了, class: 'form-control' %>
      </div>
      
      <span id="end_date" class="help-block"></span>
    </div>

    <div class="form-group">
      <%= f.label :状態, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :状態コード, class: 'form-control' %>
      </div>
      <div class="col-md-1">
        <button class="btn btn-default" id="joutai_search" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </div>
        <span id="joutai_name"><%= @hash_param[:joutai_name] %></span>
      <span class="help-block"></span>
    </div>
    
    <div class="form-group">
      <%= f.label :場所, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :場所コード, class: 'form-control' %>
      </div>
      <div class="col-md-1">
        <button class="btn btn-default" id="basho_search" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </div>
      <span id="basho_name"><%= @hash_param[:basho_name] %></span>
      <span class="help-block"></span>
    </div>
    
    <div class="form-group">
      <%= f.label :JOB, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :JOB, class: 'form-control' %>
      </div>
      <span class="help-block"></span>
    </div>
    
    <%= f.hidden_field :所属コード, class: 'form-control' %>
    
    <div class="form-group">
      <%= f.label :工程, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :工程コード, class: 'form-control' %>
      </div>
      <div class="col-md-1">
        <button class="btn btn-default" id="koutei_search" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </div>
      <span id="koutei_name"><%= @hash_param[:koutei_name] %></span>
      <span class="help-block"></span>
    </div>
    
    <div class="form-group">
      <%= f.label :工数, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :工数, class: 'form-control' %>
      </div>
      <span class="help-block"></span>
    </div>
    
    <% if session['selected_user'] == session['user_id'] && @event.計上 != '済' %>
        <div class="form-group">
          <div class="col-sm-1 col-sm-offset-2">
            <%= f.submit '　登録　', class: 'btn btn-primary' %>
          </div>
          <% if mode == 'edit' %>
              <div class="col-sm-1">
                <%= f.submit '　削除　', class: 'btn btn-default' %>
              </div>
          <% end %>
        </div>
    <% end %>
<% end %>

<%= render 'joutai_modal' %>
<%= render 'basho_modal' %>
<%= render 'koutei_modal' %>
