<%= form_for @event , html:{class: 'form-horizontal', role: :form, 'data-model' => 'event'} do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
          <h2><%= @event.errors.count %> エラーが発生しました:</h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="spacer"></div>
    <!-- column 1-->
    <div class="col-md-7">
      <div class="form-group">
        <%= f.label :社員番号, class: 'col-md-2 control-label' %>
        <div class="col-md-2">
          <%= f.text_field :社員番号, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :状態, class: 'col-md-2 control-label' %>
        <div class="col-md-2">
          <%= f.text_field :状態コード, class: 'form-control' %>
        </div>
        <div class="col-md-1">
          <button class="btn btn-default" id="joutai_search" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-md-6">
          <span id="joutai_name" class="help-block"><%= @event.joutaimaster.try :状態名 %></span>
        </div>
      </div>

      <!--<div class="form-group">-->
        <!--<%# f.label :所在, class: 'col-md-2 control-label' %>-->
        <!--<div class="col-md-2">-->
          <!--<%# f.text_field :所在コード, class: 'form-control' %>-->
        <!--</div>-->
        <!--<div class="col-md-1">-->
          <!--<button class="btn btn-default" id="shozai_search" type="button">-->
            <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
          <!--</button>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
          <!--<span id="shozai_name" class="help-block"><%# @event.shozai.try :所在名 %></span>-->
        <!--</div>-->
        <!--<%# f.label :帰社区分, class: 'col-md-2 control-label' %>-->
        <!--<div class="col-md-2">-->
          <!--<%# kubun = %w(帰社 直帰 連続).prepend('') %>-->
          <!--<%# select(:event, :帰社区分, kubun, {}, {class: 'form-control input-sm'}) %>-->
        <!--</div>-->
      <!--</div>-->

      <div class="form-group">
        <%= f.label :場所, class: 'col-md-2 control-label' %>
        <div class="col-md-2">
          <%= f.text_field :場所コード, class: 'form-control' %>
        </div>
        <div class="col-md-1">
          <button class="btn btn-default" id="basho_search" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-md-6">
          <span id="basho_name" class="help-block"><%= @event.bashomaster.try :場所名 %></span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :JOB, class: 'col-md-2 control-label' %>
        <div class="col-md-2">
          <%= f.text_field :JOB, class: 'form-control' %>
        </div>
        <div class="col-md-1">
          <button class="btn btn-default" id="job_search" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-md-6">
          <span id="job_name" class="help-block"><%= @event.jobmaster.try :job名 %></span>
        </div>
      </div>

      <%= f.hidden_field :所属コード, class: 'form-control', value: get_shozoku(session[:user]).所属コード %>

      <div class="form-group">
        <%= f.label :工程, class: 'col-md-2 control-label' %>
        <div class="col-md-2">
          <%= f.text_field :工程コード, class: 'form-control' %>
        </div>
        <div class="col-md-1">
          <button class="btn btn-default" id="koutei_search" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-md-6">
          <span id="koutei_name" class="help-block"><%= @event.kouteimaster.try :工程名 %></span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :工数, class: 'col-md-2 control-label' %>
        <% array_value = []
           i = 0
           until i > 10 do
             array_value.append([i,i])
             i += 0.25
           end
        %>
        <div class="col-md-2">
          <%= select(:event, :工数, array_value, {}, {class: 'form-control input-sm'}) %>
        </div>
        <div class="col-md-3">
          <span class="help-block">h　(単位：時間)</span>
        </div>
        <div class="col-md-2">
          <%= button_tag '工数再計算', type: 'button', class: 'btn btn-default kousu-keisan' %>
        </div>

      </div>
      <!--<div style="height: 100px"></div>-->
      <%if mode == 'new' %>
          <div class="pull-right">
            <%= f.submit '　登録　', class: 'btn btn-primary' %>
          </div>
      <%end %>

      <%# if session[:selected_shain] == User.find(session[:user]).shainmaster.id && @event.計上 != '済' && mode == 'edit' %>
      <% if @event.計上 != '済' && mode == 'edit' %>
          <div class="form-group">
            <div class="col-md-1 col-md-offset-7">
              <%= f.submit '　登録　', class: 'btn btn-primary' %>
            </div>
            <div class="col-md-1 col-md-offset-1">
              <%= f.submit '　削除　', class: 'btn btn-default' %>
            </div>
          </div>
      <% end %>
    </div>

    <!-- colume 2-->
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :開始, class: 'col-md-3 control-label' %>
        <div class="col-md-6">
          <%= f.datetime_select :開始, class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <button class="btn btn-default" id="shujitu" type="button">
            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :終了, class: 'col-md-3 control-label' %>
        <div class="col-md-6">
          <%= f.datetime_select :終了, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :コメント, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_area :comment, class: 'form-control', size: '100x2' %>
        </div>
      </div>
      
      <!--panel preview-->
      <!--<div class="panel panel-default" id="preview-panel">-->
        <!--<div class="panel-heading">-->
          <!--<h3 class="panel-title">エベント背景色と文字色変更のプリビュー</h3>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
          <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<div id="calendar-preview"></div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div class="form-group">-->
            <!--<div class="col-md-5 col-md-offset-4">-->
              <!--<div id="preview-backgroud" class="panel panel-default">-->
                <!--<p id="preview-text" style="align-content: center">松本と昼ごはん</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<%= f.fields_for :joutaimaster do |joutai_form| %>-->
          <!--<div class="form-group">-->
            <!--<div class="col-md-3" align="right">-->
              <!--<%= joutai_form.text_field :color, class: 'form-control'%>-->
            <!--</div>-->
            <!--<div class="col-md-2" align="right">-->
              <!--<a href="#" class="btn btn-default" id="change-background-color" data-color-format="hex" data-color="rgb(255, 255, 255)">背景色</a>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-md-offset-1" align="right">-->
              <!--<%= joutai_form.text_field :text_color, class: 'form-control' %>-->
            <!--</div>-->
            <!--<div class="col-md-2">-->
              <!--<a href="#" class="btn btn-default" id="change-text-color" data-color-format="hex" data-color="rgb(255, 255, 255)">文字色</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
              <% end %>
      </div>  
      
      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
          <!--<h3 class="panel-title">エベント背景色と文字色変更のプリビュー</h3>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
          <!--<div class="form-group">-->
            <!--<div id="calendar-preview"></div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<div class="col-md-5 col-md-offset-4">-->
              <!--<div id="preview-backgroud" class="panel panel-default">-->
                <!--<p id="preview-text" style="align-content: center">松本と昼ごはん</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<div class="col-md-3" align="right">-->
              <!--<%= text_field_tag 'input-backgroud-color','', class: 'form-control' %>-->
            <!--</div>-->
            <!--<div class="col-md-2" align="right">-->
              <!--<a href="#" class="btn btn-default" id="change-background-color" data-color-format="hex" data-color="rgb(255, 255, 255)">背景色</a>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-md-offset-1" align="right">-->
              <!--<%= text_field_tag 'input-text-color', '',class: 'form-control' %>-->
            <!--</div>-->
            <!--<div class="col-md-2">-->
              <!--<a href="#" class="btn btn-default" id="change-text-color" data-color-format="hex" data-color="rgb(255, 255, 255)">文字色</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      
<% end %>

<%= render 'share/joutai_modal' %>
<%= render 'share/basho_modal' %>
<%= render 'share/koutei_modal' %>
<%= render 'share/shozai_modal' %>
<%= render 'share/job_modal' %>