<%= javascript_include_tag 'time_line_view.js' %>
<%= javascript_include_tag 'events' %>
<%= javascript_include_tag 'resource/ja' %>
<%= stylesheet_link_tag 'events' %>

<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><%= link_to 'メニュー', main_path %></li>
      <li><%= link_to 'カレンダー', events_path %></li>
      <li class="active">タイムライン</li>
    </ol>
  </div>
</div>

<%= simple_form_for :timeline, url: time_line_view_events_path, method: :post do |f| %>

<div class="row">
  <div class="col-md-12">
    <div class="timeline-view">
      <div class="pull-left">
        <%= f.submit '勤務', class: 'btn btn-default', id:'kintai'%>
        <%= f.submit '経費', class: 'btn btn-default', id:'keihi'%>
        <%= f.submit '承認', class: 'btn btn-default', id:'shonin'%>
        <%= f.submit '伝言', class: 'btn btn-default', id:'dengon'%>
        <%= f.submit '回覧', class: 'btn btn-default', id:'kairan'%>
      </div>
      <br><br>
      <div id="calendar-timeline"></div>
    </div>
  </div>
</div>
<% end %>