<%= form_for(@shozai, html:{class: 'form-horizontal', role: :form, 'data-model' => 'shozai'} ) do |f| %>
  <% if @shozai.errors.any? %>
    <div id="error_explanation">
      <h2><%= @shozai.errors.count %> エラーが発生しました:</h2>
      <ul>
      <% @shozai.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="spacer"></div>

    <div class="form-group">
      <%= f.label :所在コード, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :所在コード, class: 'form-control' %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :所在名, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :所在名, class: 'form-control' %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-2 col-sm-offset-2">
        <%= f.submit '　登録　', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
