<%= javascript_include_tag 'shozai' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">所在マスタ</li>
</ol>

<table id="shozais" class="table table-striped table-bordered table-hover" cellspacing="0">

  <thead>
    <tr>
      <th>所在コード</th>
      <th>所在名</th>
      <th>背景色</th>
      <th>文字色</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shozais.each do |shozai| %>
      <tr id="shozai_<%= shozai.id %>">
        <td><%= shozai.所在コード %></td>
        <td><%= shozai.所在名 %></td>
        <td><%= shozai.background_color %></td>
        <td><%= shozai.text_color %></td>
        <td><%= link_to '詳細', shozai %></td>
        <td><%= link_to '編集', edit_shozai_path(shozai) %></td>
        <td><%= link_to '削除', shozai, method: :delete, data: { confirm: '削除でよろしいですが?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規', new_shozai_path %>
