<ol class="breadcrumb">
  <li class="active">メニュー</li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <!-- <li class="active">担当者</li> -->

</ol>

  <div class="row">
<!--    <div class="col-md-5">

      <div class="well">
        <button type="button" class="btn btn-primary">
          　展 開　
        </button>
      </div>
    </div>
 -->
    <div class="col-md-7">
      <!-- <div class="well"> -->
      <ul class="list-group">
        <li class="list-group-item"><%= link_to 'JOB管理', shozais_path %></li>
        <li class="list-group-item"><%= link_to '工程マスタ', kouteimasters_path %> </li>
        <li class="list-group-item"><%= link_to 'sample', samples_path %> </li>
        <li class="list-group-item"><%= link_to 'メール送受信', kouteimasters_path %> </li>
        <li class="list-group-item"><%= link_to 'ファイルダウンロード', kouteimasters_path %> </li>
      </ul>
      <!-- </div> -->
    </div>
  </div>
