<%= form_for @kaishamaster, html:{class: 'form-horizontal', role: :form, 'data-model' => 'kaishamaster'} do |f| %> 
  <% if @kaishamaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kaishamaster.errors.count, "error") %> prohibited this kaishamaster from being saved:</h2>

      <ul>
      <% @kaishamaster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :会社コード, class: 'col-md-2 control-label' %>
    <div class="col-md-2">
    <%= f.text_field :id, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :会社名, class: 'col-md-2 control-label' %>
    <div class="col-md-2">
    <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :備考, class: 'col-md-2 control-label' %>
    <div class="col-md-2">
    <%= f.text_area :note, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-2">
    <%= f.submit '　登録　', class: 'btn btn-primary' %>
      </div>
  </div>
<% end %>
