<%= javascript_include_tag 'jobmasters' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to 'JOBマスタ', jobmasters_path %></li>
  <li class="active">編集</li>
</ol>

<%= render 'form' %>

<%= link_to '詳細', @jobmaster %> |
<%= link_to '戻る', jobmasters_path %>
