<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for @kouteimaster, html:{class: 'form-horizontal', role: :form, 'data-model' => 'kouteimaster'}, remote: remote do |f| %>
  <% if @kouteimaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= @kouteimaster.errors.count %> エラーが発生しました:</h2>
      <ul>
      <% @kouteimaster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <!-- Error for check params-->
    <% if @errors.any? %>
        <div id="error_explanation">
          <h2>パラムエラーが発生しました：</h2>
          <ul>
            <% @errors.each do |msg| %>
            <li><%= msg %></li>
            <% end  %>
          </ul>
        </div>
    <% end %>
    
    <div class="spacer"></div>
    
  <div class="form-group">
    <%= f.label :所属コード, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :所属コード, class: 'form-control', maxlength: 10 %>
    </div>
    <div class="col-md-1">
      <button class="btn btn-default" id="shozoku_search" type="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>
    <span id="shozoku_name"></span>
    <span id="shozoku_error" class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :工程コード, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :工程コード, class: 'form-control', maxlength: 10 %>
    </div>
    <span id="kouteiname" class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :工程名, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :工程名, class: 'form-control' %>
    </div>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-2">
      <%= f.submit '　登録　', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render 'shozoku_modal' %>