= javascript_include_tag 'kouteis'
= render 'share/shozoku_modal'
.pull-right
  .btn-group
    = link_to :戻る, kouteimasters_path, class: 'btn btn-default'
    = link_to :詳細, @kouteimaster, class: 'btn btn-default'
- modal ||= false
- remote = modal ? true : false
.col-sm-3.col-sm-offset-4
  = simple_form_for @kouteimaster, remote: remote, wrapper: :vertical_form do |f|
    = f.input :所属コード, wrapper: :vertical_input_group, hint:'', hint_html: { class: 'shozoku-code-hint' } do
      = f.input_field :所属コード, class: 'form-control'
      %span.input-group-addon.refer-shozoku
        %span.glyphicon.glyphicon-search{'aria-hidden'=>"true"}
    = f.input :工程コード
    = f.input :工程名
    = f.button :submit