<%= javascript_include_tag 'kouteimaster' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to '工程マスタ', kouteimasters_path %></li>
  <li class="active">編集</li>
</ol>

<%= render 'form', modal: false  %>

<%= link_to '詳細', @kouteimaster %> |
<%= link_to '戻る', kouteimasters_path %>
