<%= javascript_include_tag 'kouteimaster' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">工程マスタ</li>
</ol>

<!-- <h1>工程マスタ</h1> -->

<table id="kouteimaster" class="table table-striped table-bordered table-hover" cellspacing="0">

  <thead>
    <tr>
      <th>所属コード</th>
      <th>工程コード</th>
      <th>工程名</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kouteimasters.each do |kouteimaster| %>
      <tr id="koutei_<%= kouteimaster.id %>">
        <td><%= kouteimaster.所属コード %></td>
        <td><%= kouteimaster.工程コード %></td>
        <td><%= kouteimaster.工程名 %></td>
        <td><%= link_to '詳細', kouteimaster %></td>
        <td><%= link_to '編集', edit_kouteimaster_path(kouteimaster) %></td>
        <td><%= link_to '削除', kouteimaster, remote: true, method: :delete, data: { confirm: '削除で宜しですか。' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '新規', new_kouteimaster_path %>