<%= javascript_include_tag 'kouteimaster' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to '工程マスタ', kouteimasters_path %></li>
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">新規</li>
</ol>

<!-- <h1>工程マスタ・新規入力</h1> -->

<%= render 'form' %>
<%= link_to '戻る', kouteimasters_path %>
