<p id="notice"><%= notice %></p>

<p>
  <strong>工程コード:</strong>
  <%= @kouteimaster.所属コード %>
</p>

<p>
  <strong>工程名:</strong>
  <%= @kouteimaster.工程コード %>
</p>

<p>
  <strong>分類:</strong>
  <%= @kouteimaster.工程名 %>
</p>

<%= link_to '編集', edit_kouteimaster_path(@kouteimaster) %> |
<%= link_to '戻る', kouteimasters_path %>
