<tr>
  <td><%= check_box_tag "delete[#{employer.id}]", 1 %></td>
  <td><%= employer.first_name %></td>
  <td><%= employer.position %></td>
  <td><%= employer.office %></td>
  <td><%= employer.age %></td>
  <td><%= employer.start_date %></td>
  <td><%= employer.salary %></td>
  <td><%= employer.id %></td>
</tr>

