<%= form_for @yakushokumaster , html:{class: 'form-horizontal', role: :form, 'data-model' => 'yakushokumaster'} do |f| %>
    <% if @yakushokumaster.errors.any? %>
        <div id="error_explanation">
          <h2><%= @yakushokumaster.errors.count %> エラーが発生しました:</h2>
          <ul>
            <% @yakushokumaster.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="spacer"></div>

    <div class="form-group">
      <%= f.label :役職コード, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :役職コード, class: 'form-control', maxlength: 10 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :役職名, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :役職名, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 col-sm-offset-2">
        <%= f.submit '　登録　', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>