<%= javascript_include_tag 'yakushokus' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to '役職テーブル', yakushokumasters_path %></li>
  <li class="active">編集</li>
</ol>

<%= render 'form'  %>

<%= link_to '詳細', yakushokumaster_path(@yakushokumaster) %> |
<%= link_to '戻る', yakushokumasters_path %>
