= simple_form_for @tsushinseigyou do |f|
  .col-md-2.col-md-offset-1
    = f.input :社員番号, label:'社員番号' do
      = f.select :社員番号, Shainmaster.all.map { |s| [s.氏名, s.社員番号, { class: '' }] }, {}, {include_blank: true, class: 'form-control'}
    = f.input :メール
    = f.input :送信許可区分
    = f.button :submit, '更新する', class: 'btn btn-primary'