= javascript_include_tag 'tsushinseigyous'

%ol.breadcrumb
  %li= link_to 'メニュー', main_path
  %li.active 通信制御マスタ

%table.tsushinseigyotable.table.table-striped.table-bordered.table-hover{cellspacing: 0, width: '100%' }
  %thead
    %tr
      %th 社員番号
      %th メール
      %th 送信許可区分
      %th
      %th

  %tbody
    - @tsushinseigyous.each do |tsushinseigyou|
      %tr
        %td= tsushinseigyou.shain_氏名
        %td= tsushinseigyou.メール
        %td= tsushinseigyou.送信許可区分 == '0' ? '不可' : '許可'
        %td= link_to '編集', edit_tsushinseigyou_path(tsushinseigyou)
        %td= link_to '削除', tsushinseigyou, :method => :delete, :data => { :confirm => '削除で宜しいですか。' }

%br

= link_to '新規', new_tsushinseigyou_path
- if can? :update, @tsushinseigyous
  %h4 CSVでのデータをインポート!
  = form_tag import_tsushinseigyous_path,class:'form-inline', multipart: true do
    .form-group
      = label_tag 'selectcsv', nil, class: 'sr-only'
      = file_field_tag :file , class: 'btn btn-default'
    .form-group
      = label_tag 'importcsv', nil, class: 'sr-only'
      = submit_tag "Import CSV" , class: 'btn btn-default'
