<div id="jstree">
		<ul>
		<% @records.each do |model|
			if model['レベル'] == '1'
				case model['品目区分']
				when '1'
					icon = '{"icon":"../../assets/images/KOUSEI1.BMP"}'
				when '2'
					icon = '{"icon":"../../assets/images/KOUSEI2.BMP"}'
				when '3'
					icon = '{"icon":"../../assets/images/KOUSEI3.BMP"}'
				when '4'
					icon = '{"icon":"../../assets/images/KOUSEI4.BMP"}'
				when '5'
					icon = '{"icon":"../../assets/images/KOUSEI5.BMP"}'
				when '6'
					icon = '{"icon":"../../assets/images/KOUSEI6.BMP"}'
				when '7'
					icon = '{"icon":"../../assets/images/KOUSEI7.BMP"}'
				when '8'
					icon = '{"icon":"../../assets/images/KOUSEI8.BMP"}'
				when '9'
					icon = '{"icon":"../../assets/images/KOUSEI9.BMP"}'
				end
		 %>
	    <li data-jstree = <%= icon %> id=<%= model['ツリー順序'] %>><%= model['表示ラベル'] %>
    <% end  
    end 
    %>
		
		<% @records.each do |model|
			if model['レベル'] == '2'
				case model['品目区分']
				when '1'
					icon = '{"icon":"../../assets/images/KOUSEI1.BMP"}'
				when '2'
					icon = '{"icon":"../../assets/images/KOUSEI2.BMP"}'
				when '3'
					icon = '{"icon":"../../assets/images/KOUSEI3.BMP"}'
				when '4'
					icon = '{"icon":"../../assets/images/KOUSEI4.BMP"}'
				when '5'
					icon = '{"icon":"../../assets/images/KOUSEI5.BMP"}'
				when '6'
					icon = '{"icon":"../../assets/images/KOUSEI6.BMP"}'
				when '7'
					icon = '{"icon":"../../assets/images/KOUSEI7.BMP"}'
				when '8'
					icon = '{"icon":"../../assets/images/KOUSEI8.BMP"}'
				when '9'
					icon = '{"icon":"../../assets/images/KOUSEI9.BMP"}'
				end
		 %>
	      <ul>
					<li data-jstree = <%= icon %> id=<%= model['ツリー順序'] %>><%= model['表示ラベル'] %></li>
	      </ul>
	      
	    <% end  
		    end 
	    %>
	      </li>
	    <!-- <li id="root_node_2">Root node 2</li> -->
	  </ul>
</div>