<%= javascript_include_tag "tree" %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">Email</li>
</ol>

<h2>メール存在をチェック	</h2>
<%= form_for @user, url: email_path, html:{class: 'form-horizontal'}, remote: true, method: :POST do |f| %>
<div class="form-group">
  <div class="col-sm-3">
	  <%= f.text_field :email, class: 'form-control' %>
	  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %> エラーが発生しました:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	  <% end %>
		<span class = "error_explanation"><%= flash[:notice]  %></span>
  </div>
  <%= f.submit '🔎', class: 'btn btn-default' %>
</div>
<% end %>

<%= form_tag "/search", method: "get" do %>
  <%= label_tag :q, "Search for:" %>
  <%= text_field_tag :q, class: 'form-control' %>
  <%= submit_tag "Search" %>
<% end %>