<p>
  <strong>休日：</strong>
  <%= @jpt_holiday_mst.event_date %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @jpt_holiday_mst.title %>
</p>

<p>
  <strong>備考:</strong>
  <%= @jpt_holiday_mst.description %>
</p>


<%= link_to '編集', edit_jpt_holiday_mst_path(@jpt_holiday_mst) %> |
<%= link_to '戻る', jpt_holiday_msts_path %>
