-#.editor-datetime
-#  .row-fluid
-#    .form-group
-#      = label_tag 'sheisanbi','清算日：'
-#      = text_field_tag 'sheisanbi_input', nil, class: 'form-control datepicker', size:10
-#    .form-group
-#      = label_tag 'shoninsha','承認者：'
-#      = collection_select(:shonin_head ,:shonin_select, Shoninshamst.all, :承認者, :shonin_title, {}, class:'form-control')
-#      = submit_tag '検索する', class: 'btn btn-default search-shonin'
-#    .pull-right
-#      = submit_tag '更新する', class: 'btn btn-primary'
.editor-datetime
  .row-fluid
    .form-group
      = label_tag 'sheisanbi','清算日'
      = f.input_field :清算予定日
      -#= f.hint '清算予定日付の入力'
    .form-group
      -#= label_tag 'shoninsha','承認者：'
      = f.input :承認者 do
        = f.select :承認者, Shoninshamst.all.map { |k| [k.shonin_title, k.承認者, { class: k.id }] }, {include_blank: true}, {class:'form-control'}
      = f.button :submit, '検索する'
      -#= submit_tag '検索する', class: 'btn btn-default search-shonin'
    .pull-right
      = submit_tag '更新する', class: 'btn btn-primary'
