<%= javascript_include_tag 'keihi' %>
<%= javascript_include_tag 'keihis' %>
<%= stylesheet_link_tag 'keihis' %>

<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <li><%= link_to 'カレンダー', events_path %></li>
  <li class="active">経費</li>
</ol>

<%= render 'form' %>