= simple_form_for(@kairan) do |f|
  .col-md-3.col-md-offset-1
    = f.input :発行者, as: :hidden, input_html: {value: session[:user]}
    = f.input :要件, label:'要件' do
      = f.select :要件, Kairanyokenmst.all.map { |k| [k.名称, k.id, { class: '' }] }, {}, {include_blank: true, class: 'form-control'}
    = f.input :開始, as: :date_time_picker
    = f.input :終了, as: :date_time_picker
    = f.input :件名
    = f.input :内容, as: 'text'
    -#= f.input :確認
    = f.button :submit, class: 'btn btn-primary', id: 'kairan'
    = hidden_field_tag 'shain'
  .col-md-7.col-md-offset-1
    %table.shain-table.table.table-striped.table-bordered.table-hover{cellspacing:0, width: '100%'}
      %thead
        %tr
          %th
          %th 社員番号
          %th 社員名

      %tbody
        - @shains.each do |shain|
          %tr
            %td
            %td= shain.社員番号
            %td= shain.氏名