= javascript_include_tag 'kairans'

%ol.breadcrumb
  %li= link_to 'メニュー', main_path
  %li.active 回覧

-#= simple_form_for :kairanIndex, html: {class:'form-inline'}, url: confirm_kairans_path, method: :get do |f|
= simple_form_for :kairanIndex, html: {class:'form-inline'}, url: kairans_path, method: :get do |f|
  = render 'header', f:f
  %br

  %table.kairan-table.table.table-striped.table-bordered.table-hover{cellspacing:0, width: '100%'}

    %thead
      %tr
        %th 日時
        %th 要件
        %th 件名
        %th 内容
        %th 確認
        %th 回答
        %th
        %th id
        %th kairanCode

    %tbody
      - @kairanShoshais.each do |kairan|
        %tr
          %td= kairan.開始
          %td= kairan.kairan.kairanyokenmst.try :名称 if kairan.kairan
          %td= kairan.件名
          %td.breakAll= kairan.内容
          - kakunin =  kairan.確認 == true ? '確認済':'未確認'
          - if kairan.回答済 == true
            - kakunin = '回答済'
          %td= kakunin
          - kairanKaitou = Kairan.find kairan.回覧コード
          - kaito = kairan.kairan.確認要 == true ? '回答＊':'回答'
          %td= link_to kaito, kaitou_kairan_path(kairanKaitou)
          %td
          %td= kairan.id
          %td= kairan.回覧コード
          -#%td= link_to '編集', edit_kairan_path(kairan)
          -#%td= link_to '削除', kairan, :method => :delete, :data => { :confirm => '削除で宜しいですか。' }

  %br

  = hidden_field_tag 'checked'
  .pull-right
    -#= button_tag '確認する', name: 'button', id: 'kakunin', value: '確認する', class: 'btn btn-primary'

= link_to '新規', new_kairan_path
\|
= link_to '送回覧', shokairan_kairans_path
