%ol.breadcrumb
  %li= link_to 'メニュー', main_path
  %li= link_to '回覧', kairans_path
  %li.active 回答

= simple_form_for @kairan, url: kaitou_create_kairans_path  do |f|
  .col-md-3.col-md-offset-1
    = f.input :発行者
    = f.input :要件, label:'要件' do
      = f.select :要件, Kairanyokenmst.all.map { |k| [k.名称, k.id, { class: '' }] }, {}, {include_blank: true, class: 'form-control'}
    = f.input :開始, as: :date_time_picker
    = f.input :終了, as: :date_time_picker
    = f.input :件名
    = f.input :内容, as: 'text'

    = f.button :submit, '回答する', class: 'btn btn-primary', id: 'kairan'

    = hidden_field_tag 'kaitoid', @kaitoid
    = hidden_field_tag 'kaitoto', @kaitoto
