<%= form_for @shainmaster, html:{class: 'form-horizontal', role: :form, 'data-model' => 'shainmaster'} do |f| %>
  <% if @shainmaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= @shainmaster.errors.count %> エラーが発生しました:</h2>
      <ul>
      <% @shainmaster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
    <div class="spacer"></div>
    
  <div class="form-group">
    <%= f.label :社員番号, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :社員番号, class: 'form-control', maxlength: 10 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :連携用社員番号, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :連携用社員番号, class: 'form-control', maxlength: 10 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :氏名, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :氏名, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :所属コード, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :所属コード, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :直間区分, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :直間区分, class: 'form-control' %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :役職コード, class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :役職コード, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-2">
      <%= f.submit '　登録　', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>